/*
 * Clear
 *
 */

*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

// border-box
*,
*::before,
*::after {
  box-sizing: border-box;
}

// no style for lists
ol,
ul {
  list-style: none;
}

// images
img {
  max-width: 100%;
}

// border collapse
table {
  border-collapse: collapse;
}

// revert the 'white-space' property for textarea elements on Safari
textarea {
  white-space: revert;
}

// body initialize
body {
  margin: 0;
  padding: 0;
  font-family: $font-sans-serif;
}
