---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Krado - A New CSS Framework">
  <div class="flex flex-col justify-center items-center h-[95vh]">
    <h1 class="inline-flex flex-row justify-center items-center gap-2 mb-3">
      <span class="text-2xl font-bold">Krado</span>
      <span>is a new CSS framework.</span>
    </h1>
    <p>Now we are developing...</p>
  </div>
</Layout>

<style lang="scss">

</style>
